/* -------------font----------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* -------------Common Style---------------- */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #9F9F9F;
}
#header{
    background-color: #562EFF;
    width:100%;
    height:94px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.header_area{
    display: flex;
    width:926px;
    justify-content: space-between;
}
.navber{
    display: flex;
    justify-content: end;
    align-items: center;
}
.navber ul{
    display: flex;
}
.navber ul li{
    margin-right: 50px;
    list-style: none;
}
.navber ul li a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.logo{
   width:150px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.logo img{
    width:44.42px;
    height: 51px;
}
.logo p{
    font-size: 24px;
    color:#fff;
}

.profile{
    cursor: pointer;
    border-radius:50%;
}
.profile img{
    margin-top:8px;
}








main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #fff;
    width:870px;
    padding:30px;
    margin-top:20px;
    border-radius: 5px;
}

.section_title{
    color:#562EFF;
    font-size: 24px;
    margin-top:3px;
}

/* top player styles */
.top_players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}
.player_name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/*----------------
 top blog styles 
 -----------------*/
 .blogs{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-row-gap: 26px;
 }
 .blog{
     display: flex;
 }
.blog .thambnail img{
    width: 177px;
    height: 117px;
}
.blog_info{
    margin-left:26px;
}
.blog-title{
    font-size: 20px;
}

.blog_author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog_author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}
/* --------------------
Courses Style  
-----------------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.course{
    Width:252.42px;
    Height:269.79px;
    border-radius: 17px;
}
.course .course_banner img{
    width: 224px;
    height:104px;
    margin-left: 18px;
}
.course_detail{
    margin-left: 18px;
}
.course_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:#FFC014;
}
.fa-star.empty{
    color:#AEAEAE;
}

.course_duration{
    background-color: #fdcfd6;
    Width:94.83px; 
    Height:29.38px; 
    border-radius: 15px;
}
.course_duration p{
    color: #FF4A60;
    margin-left: 8px;
    margin-top: 2px;
}

#add-list-item{
    background-color: #562EFF;
    color: #fff;
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.last-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input input{
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
}
#check-button{
    background-color: #562EFF;
    color: #fff;
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}








/* Media Queries */

/* Mobile devices */

@media only screen and (max-width:688px) {
    .header_area{
        width:400px;
    }
    .container{
        width:100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog, .course{
        flex-direction: column;
        align-items: center;
    }
    .course{
        margin-left: 36px;
    }
    .course_author{
        margin: 0;
    }
   
}



/* Tablet devices */

@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
       width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .player, .blog{
        justify-content: center;
    }
}





















































